body {
    margin: auto
}

h1, h2, h3 {
    margin-top: 10px;
}

.wrapper {
    box-shadow: 0 0 3px 0 #ccc;
    max-width: 1400px;
}

.vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    // border-radius: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn.prominent {
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
@media (min-width: 768px) and (max-width: 1110px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}



/* Main Title Area */
.main-title-area {
    height: 70vh;
    background-color: #eee;
}

/* Emotional Connection */
.emotional-connection {
    text-align: center;
    background-color: #ccc;
    padding: 25px 0;
}
.emotional-connection h1 {
    display: inline-block;
}

/* Inner */
.inner-page-title {
    height: 50vh;
}

.flexible-content div {
    height: 30vh;
}

.inner-page-section .text {
    background-color: #eee;
}

.inner-page-section .blank {
    background-color: #ccc;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  // margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}
