body {
    margin: auto
}

h1, h2, h3 {
    margin-top: 10px;
}

.wrapper {
    box-shadow: 0 0 3px 0 #ccc;
    max-width: 1400px;
}

.vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border-radius: 15px;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn.prominent {
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
@media (min-width: 768px) and (max-width: 1110px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}



/* Main Title Area */
.main-title-area {
    height: 70vh;
    background-color: #eee;
}

/* Call To Action Bar */
.call-to-action {
    padding: 55px 20px 65px 20px;
    background-color: #EF4035;
    color: #ffffff;
    text-align: center;
}

.call-to-action .call-to-action-label {
    font-weight: 400;
    display: inline-block;
}

.call-to-action-actions button {
    margin: 0 5px;
}

/* Photo Grid */
.photo-grid .row > div {
    height: 30vh;
}
.photo-grid .text {
    background-color: #eee;
}

.photo-grid .text .vertical-center {
    padding: 0 20px 0 10px;
}

.photo-grid .image {
    background-color: #aaa;
}

/* Emotional Connection */
.emotional-connection {
    text-align: center;
    background-color: #ccc;
    padding: 25px 0;
}
.emotional-connection h1 {
    display: inline-block;
}

/* Packet Request */
.packet {
    background-color: #aaa;
    padding: 4em;
    color: white;
}

.packet-testimonial {
    padding-right: 6em;
    min-width: 200px;
}

.packet-request {
    background-color:#EF4035;
    padding: 3em;
}

.packet-request h2 {
    display:inline-block;
}

.packet-request button {
    display:inline-block;
    float:right;
}

/* Inner */
.inner-page-title {
    height: 50vh;
}

.flexible-content div {
    height: 30vh;
}

.inner-page-section .text {
    background-color: #eee;
}

.inner-page-section .blank {
    background-color: #ccc;
}
