body {
    max-width: 1400px;
    margin: auto
}

h1, h2, h3 {
    margin-top: 10px;
}

.wrapper {
    box-shadow: 0 0 3px 0 #ccc;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    border-radius: 15px;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn.prominent {
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
@media (min-width: 768px) and (max-width: 1110px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.navbar.menu {
    background-color: #EF4035;
    border-radius: 0;
    margin: 0 -15px;
}

.navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-btn {
    margin-left: 15px;
}

.navbar-brand {
    padding: 0;
}

.navbar-collapse.collapse.in ul.navbar-nav,
.navbar-collapse.collapsing ul.navbar-nav{
    margin-top: 25px;
}

.navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    background-color: inherit;
    color: #ddd;
}

.logo-container {
    position: relative;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
}
.logo-container img {
    height: 75px;
}

/* Main Title Area */
.main-title-area {
    position: relative;
    height: 70vh;
    background-color: #eee;
    z-index: -1;
}


/* Call To Action Bar */
.call-to-action {
    padding: 55px 20px 65px 20px;
    background-color: #EF4035;
    color: #ffffff;
    text-align: center;
}

.call-to-action .call-to-action-label {
    font-weight: 400;
    display: inline-block;
}

.call-to-action-actions button {
    margin: 0 5px;
}

/* Photo Grid */
.photo-grid .row > div {
    height: 30vh;
}
.photo-grid .text {
    background-color: #eee;
}

.photo-grid .text .vertical-center {
    padding: 0 20px 0 10px;
}

.photo-grid .image {
    background-color: #aaa;
}


/* Emotional Connection */
.emotional-connection {
    text-align: center;
    background-color: #ccc;
    padding: 25px 0;
}
.emotional-connection h1 {
    display: inline-block;
}




















