<div class="pageHeader">
  <div class="header-textarea">
    <div class="block">
      {% if entry.pageName|length %}
        <h1>{{ entry.pageName }}</h1>
      {% endif %}
      {% if entry.pageIntro|length %}
        {{ entry.pageIntro }}
      {% endif %}
    </div>
  </div>
  {% if entry.pageFeaturedImage|length == 1 %}
      {% set image = entry.pageFeaturedImage.first %}
      <div class="header-image" style="background: url({{ image.getUrl('headerImage') }}) no-repeat center center; background-size: cover;">
    </div>
  {% endif %}
</div>
