{% for block in entry.pageBuilder %}

  {% if block.type == "pageVideoHeader" %}
    <div class="pageHeader video">
      <div class="overlay"></div>
      <div id="player"></div>
      <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            videoId: '{{ block.youtubeVideoId }}',
            playerVars: {
              autoplay: 1,
              controls: 0,
              modestbranding: 1,
              loop: 1,
              playlist: '{{ block.youtubeVideoId }}'
            }
          });
        }
      </script>
    </div>
  {% elseif block.type == "pageHeader" %}

    {% if block.headerBackground|length == 1 %}
        {% set image = block.headerBackground.first %}
        <div class="pageHeader {{ block.headerStyle }} has-background" style="background: url({{ image.getUrl('headerBackground') }}) no-repeat center center; background-size: cover;">
    {% else %}
        <div class="pageHeader {{ block.headerStyle }}">
    {% endif %}
      <div class="header-textarea">
        <div class="block">
          {% if block.headerTitle|length %}
            <h1>{{ block.headerTitle }}</h1>
          {% endif %}
          {% if block.headerSubtitle|length %}
            <h2>{{ block.headerSubtitle }}</h2>
          {% endif %}
          {% if block.headerText|length %}
            {{ block.headerText }}
          {% endif %}
          <!-- Button trigger modal -->
          <button id="play-video-button" type="button" class="btn btn-primary btn-lg btn-rounded" data-toggle="modal" data-target="#playVideo">
            <i class="fa fa-play-circle" aria-hidden="true"></i> Play Video
          </button>

          <div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="flex-video widescreen youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/EdS4UqsC-EU" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <div class="text">
                    <h4>Do you or someone you know need help?</h4>
                  </div>
                  <div class="action">
                    <a href="/contact-us" class="btn btn-default btn-block btn-rounded" data-dismiss="modal">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if block.headerImage|length == 1 %}
        {% set image = block.headerImage.first %}
        <div class="header-image">
          <img src="{{ image.getUrl() }}" />
        </div>
      {% endif %}
    </div>
  {% elseif block.type == "callToAction" %}
    <div class="call-to-action row">
      <div class="col-md-8 col-md-offset-2">
        {% if block.ctaTitle|length %}
        <h2 class="call-to-action-label">{{ block.ctaTitle }}</h2>
        {% if block.ctaText|length %}
          <p>{{ block.ctaText }}</p>
        {% endif %}
        <div class="call-to-action-actions">
            <button class="btn">{{ block.secondaryButtonLabel }}</button>
            <button class="btn prominent">{{ block.primaryButtonLabel }}</button>
        </div>
      {% else %}
        <h2 class="call-to-action-label">Where hurting and Healer connect</h2>
        <p>"For our struggle is not against flesh and blood, but against...the powers of this dark world and agains the spiritual forces of evil in the heavenly realms." - Ephesians 6:12</p>
        <div class="call-to-action-actions">
            <button class="btn">Get Involved</button>
            <button class="btn prominent">Get Help</button>
        </div>
      {% endif %}
      </div>
    </div>
  {% elseif block.type == "halfBlock" %}
    <section class="image-block">
      {% set imagePosition = block.blockImagePosition %}
      {% if imagePosition == "right" %}

        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7">
              <div class="text-block">
                <h4>{{ block.blockTitle }}</h4>
                <div class="detail-line"></div>
                {{ block.blockContent }}
              </div>
            </div>
          </div>
        </div>

        <div class="image-holder col-md-6 col-sm-4 pull-right">
          {% if block.blockImage|length == 1 %}
            {% set image = block.blockImage.first %}
            <div class="background-image-holder">
              <img alt="{{ image.title }}" class="background-image" src="{{ image.getUrl('halfBlock') }}">
            </div>
          {% elseif block.blockImage|length > 1 %}
            <div class="image-slider">
              <ul class="slides">
                {% for slideImage in block.blockImage %}
                  <li>
                    <div class="background-image-holder top-left">
                      <img alt="{{ slideImage.title }}" class="background-image" src="{{ slideImage.getUrl('halfBlock') }}">
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif%}
        </div>

      {% elseif imagePosition == "left" %}

        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
              <div class="text-block">
                <h4>{{ block.blockTitle }}</h4>
                <div class="detail-line"></div>
                {{ block.blockContent }}
              </div>
            </div>
          </div>
        </div>

        <div class="image-holder col-md-6 col-sm-4 pull-left">
          {% if block.blockImage|length == 1 %}
            {% set image = block.blockImage.first %}
            <div class="background-image-holder">
              <img alt="{{ image.title }}" class="background-image" src="{{ image.getUrl('halfBlock') }}">
            </div>
          {% elseif block.blockImage|length > 1 %}
            <div class="image-slider">
              <ul class="slides">
                {% for slideImage in block.blockImage %}
                  <li>
                    <div class="background-image-holder top-left">
                      <img alt="{{ slideImage.title }}" class="background-image" src="{{ slideImage.getUrl('halfBlock') }}">
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif%}
        </div>

      {% endif %}

    </section>

  {% elseif block.type == "textBlock" %}
    <div class="section section--text">
      {% if block.textHeading %}
        <h3 class="alt-font uppercase">{{ block.textHeading }}</h3>
      {% endif %}

      {{ block.textContent }}
    </div>

  {% elseif block.type == "quoteBlock" %}

    <blockquote>
      "{{ block.quoteText }}" - {{ block.quoteName }}
    </blockquote>

  {% elseif block.type == "heading" %}
    <h3 class="alt-font uppercase">{{ block.headingContent }}</h3>
  {% endif %}

{% endfor %}
