{#
 # Homepage template
 #}

{% extends "_layout" %}

{% block content %}
  {% include 'partials/_pageBuilder' %}

  <!-- Photo grid -->
  <div class="section section--photo-grid">
      <div class="row">
          <div class="item text col-md-4 col-xs-8">
              <div>
                  <h3>Free and Confidential</h3>
                  <p>As a non-profit, Warriors Set Free provides no-cost, private counseling services to current and former military members. There are no material obstacles (and no excuses) between you and help.</p>
              </div>
          </div>
          <div class="item image col-md-4 col-xs-4" style="background: url(/assets/images/photo_grid_1.png) no-repeat center center; background-size: cover;">
          </div>
          <div class="item text col-md-4 col-md-push-0 col-xs-8 col-xs-push-4">
              <div>
                  <h3>Biblical and Faith-Based</h3>
                  <p>Prayer is our most powerful weapon. Using teachings from the Gospel, together we'll lay a groundwork for forgiveness and healing through Christ's power.</p>
              </div>
          </div>
          <div class="item image col-md-4 col-md-pull-0 col-xs-4 col-xs-pull-8" style="background: url(/assets/images/photo_grid_2.png) no-repeat center center; background-size: cover;">
          </div>
          <div class="item text col-md-4 col-xs-8">
              <div>
                  <h3>A Network of Brothers</h3>
                  <p>Peer mentors are veterans for all five branches of the military who have undertaken the same process of healing. Find a unit who understands what you went through.</p>
              </div>
          </div>
          <div class="item image col-md-4 col-xs-4" style="background: url(/assets/images/photo_grid_3.png) no-repeat center center; background-size: cover;">
          </div>
      </div>
  </div>

  <!-- Emotional connection -->
  <div class="section section--red emotional-connection">
      <div class="col-md-8 col-md-offset-2">
        <h2>You are not alone</h2>
        <p>Warriors Set Free is a ministry run by veterans, for veterans. Every volunteer has direct experience with the problems you face after returning home.</p>
      </div>
  </div>
{% endblock %}
